@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Satisfy', cursive;
    font-size: 1.2rem;
}
.input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(246, 239, 239);
    border-radius: 32px;
    padding: 4px 5px;
    margin-top: 7px;
    margin-bottom: 7px;
}
#inputbox{
    flex: 1;
    border: none;
    outline: none;
    padding: 12px;
    background: transparent;
}
#btn{
    border: none;
    outline: none;
    background: linear-gradient(to left, rgb(136, 17, 136), rgb(15, 15, 15));
    color: aliceblue;
    padding: 12px;
    font-size: 1.2rem;
    border-radius: 32px;
    cursor: pointer;
}
li{
    list-style: none;
    cursor: pointer;
    padding: 6px;
    margin: 6px;
}
 span{
    margin-left: 33px;
    color: transparent;
}

 span{
    transition: all 0.2s ease-in-out;
}
 span:hover{
    text-shadow: 0 0 17px black; 
    color: antiquewhite;
}
